# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Ignore node_modules globally
node_modules/

# Allow functions-specific files
!functions/node_modules/
!functions/package.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

Note.md

# Allow functions-specific files
!functions/build.sh
!functions/package.json
